
body{
background:#0b0b0b;
color:white;
font-family:Arial;
text-align:center;
}

h1{
color:#ff2b2b;
}

.login-container{
width:320px;
background:#1a1a1a;
padding:30px;
margin:auto;
margin-top:150px;
border-radius:10px;
}

input,textarea,select{
width:90%;
padding:10px;
margin:10px;
background:#222;
border:none;
color:white;
}

textarea{
height:120px;
}

button{
background:#ff2b2b;
border:none;
padding:10px 20px;
color:white;
cursor:pointer;
}

.grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#1c1c1c;
padding:20px;
margin:15px;
width:300px;
border-radius:10px;
}
